version: '3.8'
services:
  user-service:
    build: ../springboot-backend/user-service
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - db
  billing-service:
    build: ../springboot-backend/billing-service
    ports:
      - "8082:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - db
  payment-service:
    build: ../springboot-backend/payment-service
    ports:
      - "8083:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - db
  notification-service:
    build: ../springboot-backend/notification-service
    ports:
      - "8084:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - rabbitmq
  service-management-service:
    build: ../springboot-backend/service-management-service
    ports:
      - "8085:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - db
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: stluser
      POSTGRES_PASSWORD: stlpass
      POSTGRES_DB: stldb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
volumes:
  db_data:
  rabbitmq_data:
